  
  .h3{
    text-align: left;
    padding-top: 2rem;
  }

  .margin{
    padding: 20px;
    width: auto;
  }

  .modal-footer{
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    width: 500px;
    padding: 2rem;
    border-style: solid;
    border-width: 2px;
  border-color: orange;
  }
  
  .modal-header {
    text-align: center;
    display: flex;
    justify-content: left;
    margin:auto;
  }
  
  button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
    float: right;
  }

